<!DOCTYPE html>
<html ng-app="lab12" lang="en">

<head>
  <meta charset="utf-8">
  <title>Baby Names 2016</title>

  <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="lab12Ctrl">
  <div class="container1">
    <h1>Top Baby Names 2016</h1>

  </div>
  <div class="container2">
    <div class="input-left-col">
      <input type="text" ng-model="gName" placeholder="Name">

      <button class="gButton" ng-click=addGName(gName) type="button">Add your favorite name</button>
      <br>
      <br>

      <input type="text" ng-model="gSearch" placeholder="Search for your favorite name!">

      <p> Most Popular Names for Girls </p>
      <ol>
        <li ng-repeat="name in gNames | filter: gSearch"> {{name}}</li>

      </ol>

    </div>

    <div class="input-right-col">

      <input type="text" ng-model="bName" placeholder="Name">

      <button class="bButton" ng-click=addBName(bName) type="button"> Add your favorite name</button>
      <br>
      <br>

      <input type="text" ng-model="bSearch" placeholder="Search for your favorite name!">

      <p> Most Popular Names for Boys </p>
      <ol>
        <li ng-repeat="name in bNames | filter: bSearch"> {{name}}</li>
      </ol>
    </div>
  </div>



  <div class="container3">

<p>This is a test</p>
  </div>



  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js">
  </script>

  <script type="text/javascript" src="script.js">
  </script>


</body>

</html>
