body {
  background-color: #ccffcc;
}

p {
  color: black;
  font-family: 'Bellefair', serif;
}

.bButton {
  background-color: lightblue;
}

.gButton {
  background-color: lightpink;
}


h1 {
  text-align: center;
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 250%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

li {
  font-family: 'Bellefair', serif;
}

.button-left {
  margin-left: 10%;
}

.search {
width: 60%;
}

.removeG {
  background-color: lightpink;

}

.removeB {
  background-color: lightblue;
}

.input-left-col {
  float: left;
  margin-left: 10%;
}
.image-header {
  width: 10%;
position: absolute;
margin-left: 5%;
}

.image-header2 {
  width: 10%;
position: absolute;
margin-left: 82%;
}

.input-right-col {
  float: right;
  margin-right: 10%;
}

.clearFix {
  clear: both;
}

@media only screen and (min-width: 480px) {
  .image {
    display: block;
    width: 30%;
    height: 80px;
    -moz-box-shadow: 0 0 20px #777777;
    -webkit-box-shadow: 0 0 20px #777777;
    box-shadow: 0 0 20px #777777;
    margin: 0 auto;
  }


.input-left-col {
  float: left;
  margin-left: 5%;
}

.input-right-col {
  float: right;
  margin-right: 5%;
}

.clearFix {
  clear: both;
}

}

  @media only screen and (min-width: 768px){
    .image {
      display: block;
      width: 50%;
      height: 200px;
      -moz-box-shadow: 0 0 20px #777777;
      -webkit-box-shadow: 0 0 20px #777777;
      box-shadow: 0 0 20px #777777;
      margin: 0 auto;
    }


    .input-left-col {
      float: left;
      margin-left: 5%;
    }

    .input-right-col {
      float: right;
      margin-right: 5%;
    }

    .clearFix {
      clear: both;
    }
}

 @media only screen and (min-width: 1024px){
   .image {
     display: inline-block;
     width: 19.7%;
     height: 160px;
     -moz-box-shadow: 0 0 20px #777777;
     -webkit-box-shadow: 0 0 20px #777777;
     box-shadow: 0 0 20px #777777;}

   }
   .input-left-col {
     float: left;
     margin-left: 20%;
   }

   .input-right-col {
     float: right;
     margin-right: 20%;
   }

   .clearFix {
     clear: both;
   }


.container3 {

  display: inline-block;
  height: 160px;

}
}
